<!--
  [class.active]="i===selectedIndex" [class.first]='first'
  换成ngClass
-->

<ul [ngStyle]="{'background-color': backgroundColor}">
  <li *ngFor="let item of menus;let i=index;let odd=odd;let even=even;let first=first">
    <a   
    [ngClass]="{'active': i===selectedIndex,'first':first}"
    [ngStyle]="{'color': i===selectedIndex?titleActiveColor:titleColor}"
    (click)="handleSelection(i)"
    >
    {{item.title}}
    </a>
    <span 
    class="indicator"  
    [ngStyle]="{'backgroundColor':indicatorColor }"
    *ngIf="i===selectedIndex  else template"></span>
  </li>
</ul>

<!--
  ng-content支持组件嵌套内容
  ng-content是投影组件，动态内容
  表现形式：
  <ng-content select="样式类/HTML/指令"></ng-content>  
  避免在标签里随便加东西
  //select可以不加
-->
<ng-content ></ng-content>



<ng-template #template>
  <span class="indicator1"></span>
</ng-template>
