/*应用的就是组件本身,定义在app.component.html里的<>，就是这个组件*/

.container{
    background-color: white;
    padding: 5px 0;
    overflow-x:auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: grid;
    place-content: stretch;
    place-items: center;
    grid-gap: 0.4rem;
    margin-left: 0.4rem;
    grid-auto-flow: row;
}

.underline {
    width: 20%;
    height: 2px;
    background-color: #f5f5f5;
    margin: 0 auto;
  }
.underline > .highlight {
width: 50%;
height: 2px;
background-color: #e02f29;
padding: 0;
}
.container::-webkit-scrollbar {
display: none !important;
}