<div class="container" 
[ngStyle]="{
  'grid-template-rows': templateRows,
  'grid-template-columns':templateColumns}"
  (scroll)="handleScroll($event)"
  >
<ng-content select="[appGridItem]"></ng-content>
</div>
<!--
  指示器的区域
  滚动效果通过不断的挤压margin

  
-->
<div class="underline" *ngIf="scrollable">
  <div class="highlight" [ngStyle]="{'margin': sliderMargin}"></div>
</div>


<!--
  ng-content支持组件嵌套内容
  ng-content是投影组件，动态内容
  表现形式：
  <ng-content select="样式类/HTML/指令"></ng-content>  
  避免在标签里随便加东西
  //select可以不加

  主要是为了避免事件传递多次
-->