.grid-container{
    background-color: white;
    padding: 5px 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-auto-flow: row;
    place-content: stretch;
    place-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}